
*.1
*.v2
*.vsidx
*.lock
packages/Lib.Harmony.2.2.2/.signature.p7s
packages/Lib.Harmony.2.2.2/HarmonyLogo.png
packages/Lib.Harmony.2.2.2/Lib.Harmony.2.2.2.nupkg
packages/Lib.Harmony.2.2.2/lib/net35/0Harmony.dll
packages/Lib.Harmony.2.2.2/lib/net35/0Harmony.xml
packages/Lib.Harmony.2.2.2/lib/net45/0Harmony.dll
packages/Lib.Harmony.2.2.2/lib/net45/0Harmony.xml
packages/Lib.Harmony.2.2.2/lib/net472/0Harmony.dll
packages/Lib.Harmony.2.2.2/lib/net472/0Harmony.xml
packages/Lib.Harmony.2.2.2/lib/net48/0Harmony.dll
packages/Lib.Harmony.2.2.2/lib/net48/0Harmony.xml
packages/Lib.Harmony.2.2.2/lib/net5.0/0Harmony.dll
packages/Lib.Harmony.2.2.2/lib/net5.0/0Harmony.xml
packages/Lib.Harmony.2.2.2/lib/net6.0/0Harmony.dll
packages/Lib.Harmony.2.2.2/lib/net6.0/0Harmony.xml
packages/Lib.Harmony.2.2.2/lib/netcoreapp3.0/0Harmony.dll
packages/Lib.Harmony.2.2.2/lib/netcoreapp3.0/0Harmony.xml
packages/Lib.Harmony.2.2.2/LICENSE
Rim73/obj/project.assets.json
Rim73/obj/project.nuget.cache
Rim73/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Rim73.sln
Rim73/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Rim73/obj/Release/net472/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Rim73/obj/Release/net472/Rim73.AssemblyInfo.cs
Rim73/obj/Release/net472/Rim73.AssemblyInfoInputs.cache
Rim73/obj/Release/net472/Rim73.assets.cache
Rim73/obj/Release/net472/Rim73.csproj.AssemblyReference.cache
Rim73/obj/Release/net472/Rim73.csproj.CopyComplete
Rim73/obj/Release/net472/Rim73.csproj.CoreCompileInputs.cache
Rim73/obj/Release/net472/Rim73.csproj.FileListAbsolute.txt
Rim73/obj/Release/net472/Rim73.dll
Rim73/obj/Release/net472/Rim73.GeneratedMSBuildEditorConfig.editorconfig
Rim73/obj/Release/net472/Rim73.pdb
Rim73/obj/Release/Rim73.AssemblyInfo.cs
Rim73/obj/Release/Rim73.AssemblyInfoInputs.cache
Rim73/obj/Release/Rim73.assets.cache
Rim73/obj/Release/Rim73.csproj.AssemblyReference.cache
Rim73/obj/Release/Rim73.csproj.CoreCompileInputs.cache
Rim73/obj/Release/Rim73.csproj.FileListAbsolute.txt
Rim73/obj/Release/Rim73.dll
Rim73/obj/Release/Rim73.GeneratedMSBuildEditorConfig.editorconfig
Rim73/obj/Release/Rim73.pdb
Rim73/obj/Rim73.csproj.nuget.dgspec.json
Rim73/obj/Rim73.csproj.nuget.g.props
Rim73/obj/Rim73.csproj.nuget.g.targets
Rim73/packages.config
Rim73/obj/Release/Rim73.csproj.CoreCompileInputs.cache
Rim73/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Rim73/obj/Release/build.force
Rim73/obj/Release/Rim73.csproj.CoreCompileInputs.cache
Rim73/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
